<section class="main-section">
  <div class="player-content">
    <h1 class="player-content__p1">Player 1</h1>
    <h1 class="player-content__p1__score">{{players[0].score}}</h1>
  </div>
  <section class="game-section mid-section rounded">
    <div>
      <div class="line" *ngFor="let i of grafo">
        <div class="collumn" *ngFor="let j of i">
          <div id="i{{j.line}}-j{{j.collumn}}" class={{j.composition}} (click)="checkEdge(j)"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="player-content">
    <h1 class="player-content__p2">Player 2</h1>
    <h1 class="player-content__p2__score">{{players[1].score}}</h1>
  </div>
</section>